extends ../../layout/default.pug
include ../../mixins/filterStatus.pug

block main
  - if (messages.success)
    .message.info
      div(
        class="alert alert-success"
        show-alert
        data-time="5000"
      ) #{messages.success}
      

  h1 Trang danh sách sản phẩm

  .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-6
          +filterStatus(filterStatus)
        .col-6 
          form(id= "form-search")
            .input-group
              input(
                type="text",
                placeholder="Nhập từ khóa",
                name="keyword",
                class="form-control"
                value = keyword
              )
              .input-group-append
                button.btn.btn-success(type="submit") Tìm
  br
  br
  .card.mb-3
    .card-header Danh sách sản phẩm 
      br
      br

      form(
        action="/admin/products/change-multi?_method=PATCH",
        method="POST",
        form-change-multi
      )
        .d-flex.align-items-start
          .form-group
            select(name="type", class="form-select")
              option(disabled selected) -- Chọn hành động --
              option(value="active") Hoạt động
              option(value="inactive") Dừng hoạt động
              option(value="delete-all") Xóa tất cả
              option(value="change-position") Thay đổi vị trí
          .form-group
            input(
              type="text",
              name="ids",
              value = "",
              class="form-control d-none "
            )
          button(type="submit", class="btn btn-primary") Áp dụng

      br

      table(
        class="table table-hovertable-sm"
        checkbox-multi
      )
        thead
          tr
            th 
              input(type="checkbox" name="checkall")
            th STT
            th Hình Ảnh
            th Tiêu Đề
            th Giá
            th Vị trí
            th Trạng Thái
            th Hành Động
            th Hàng tồn kho

        tbody
          each item,index in Products
            tr
              td 
                input(
                  type="checkbox"
                  name="id"
                  value=item.id 
                )
              td #{index + 1}
              td
                img(
                  src=item.thumbnail 
                  alt=item.title 
                  width="100px"
                  height="auto"
                )
              td #{item.title} 
              td #{item.price}$
              td 
                input(
                  type="number"
                  value=item.position 
                  style="width: 60px"
                  min="1"
                  name="position"
                )
              td 
                if(item.status == "active")
                  a(
                    href="javascript:;"
                    data-status = "active"
                    data-id = item.id 
                    button-change-status
                    class="btn btn-success"
                  ) Hoạt động
                else 
                  a(
                    href="javascript:;"
                    data-status = "inactive"
                    data-id = item.id 
                    button-change-status
                    class="btn btn-danger"
                  ) Dừng hoạt động
              td
                a(href=`/admin/products/edit/${item.id}`
                class="btn btn-warning"
              ) Sửa
                button(
                  class="btn btn-danger"
                  button-delete 
                  data-id = item.id 
                ) Xóa
              td 
                if(item.stock < 20)
                  a(href="#", class="btn btn-danger") Low Stock
                else 
                  a(href="#", class="btn btn-success") In Stock
  nav
    ul(class="pagination")
      if (pagination.currentPage > 1)
        li(class="page-item")
          button(class="page-link" button-pagination = pagination.currentPage - 1 ) Trang trước
      - for (var i = 1; i <= pagination.totalsPage ; i++)
        li(class=`page-item ${pagination.currentPage == i ? "active" : "" }`)
          button(class="page-link"
          button-pagination = i 
          ) #{i}
        //- li(class="page-item ")
        //-   button(class="page-link") 2
        //- li(class="page-item")
        //-   button(class="page-link") 3
      if (pagination.currentPage < pagination.totalsPage)
        li(class="page-item")
          button(class="page-link" button-pagination = pagination.currentPage + 1 ) Kế tiếp

  form(
    action="",
    method="POST"
    id= "form-change-status"
    data-path = "/admin/products/change-status" 
  )

  form(
    action="",
    method="POST"
    id= "form-delete-item"
    data-path = "/admin/products/delete" 
  )  

  script(src="/admin/js/products.js") 